emoji-picker {
  position: fixed;
  z-index: 9999999999;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#spanChatboxClose {
  display: flex;

  & > svg {
    fill: white;
    height: 1.25rem;
    width: 1.25rem;
  }
}


#roboChat-imgToUploadContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: lightgray;
  cursor: auto;
  border-radius: 10px;
  

  & > label {
    width: fit-content;
  }

  & > img {
    width: 1rem;
    cursor: pointer;
    margin-left: .5rem;
  }
}


#roboChat-btnSendMsg > svg{
  fill: rgb(22, 46, 98); 
}

#roboChat-divChatLoadingline {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, lightgray, lightgray, lightgray, lightgray, white, lightgray, lightgray, lightgray, lightgray, lightgray 100%);
  background-size: 200% auto;
  animation: roboChat-chatboxLineLoading 1s linear infinite;
  position: absolute;
}

#roboChat-divChatViewMsg {
  flex: 1;
  width: 100%;
  justify-content: end;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;

  & > .roboChat-agent,.roboChat-user {
    padding: 3% 5%;
    display: flex;
    flex-direction: column;

    & > .roboChat-imgContainer {
      width: 90%;
      padding: .25rem;
      background-color: rgb(22, 46, 98);
      border-radius: 10px;
      display: flex;
      color: white;
      flex-direction: column;
      gap: .25rem;

      & > img {
        width: 100%;
        border-radius: 10px;
      }

      & > div {
        display: flex;
        justify-content: end;
        opacity: .8;
        font-size: .75rem;
        padding: 0 .25rem;
        align-items: center;

        & > .tickIcon {
          height: 1rem;
          width: 1rem;

          & polyline {
            stroke: white;
          }
        }

        & > .doubleTickIcon {
          height: 1.25rem;
          width: 1.25rem;

          & path{
            fill: white;
          }

        }
      }
    }

    & > div {
      padding: 3% 2% 3% 5%;
      margin: .5% 0;
      width: fit-content;
      border-radius: 10px;
      white-space: pre-line;
      display:flex;
      gap: 1.5rem;


      & > span {
        display: flex;
        align-items: center;
        font-size: .75rem;
        align-items: center;
        margin-bottom: -1rem;
        opacity: .8;

        & > .tickIcon {
          height: 1rem;
          width: 1rem;

          & polyline {
            stroke: white;
          }
        }

        & > .doubleTickIcon {
          height: 1.25rem;
          width: 1.25rem;

          & path{
            fill: white;
          }

        }
      }
    }

    &.roboChat-user {
      align-items: end;
      
      & > div {
        background-color: rgb(22, 46, 98);
        color: white;
      }
    }

    &.roboChat-agent > div {
        background-color: white;
        color: #353535;
    }
  }

  & > .roboChat-msg{
    display: flex;
    justify-content: center;
    color: gray;
  }
}


.roboChat-floating-icon {
  position: fixed;
  min-width: 50px;
  width: 3vw;
  aspect-ratio: 1/1;
  border-radius: 1vw;
  background-color: #162e62;
  bottom: 3vw;
  right: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999999999;

  &.roboChat-hidden {
    display: none;
  }

  & > svg {
    aspect-ratio: 1/1;
    height: 70%;
    fill: white;
  }
}

.roboChat-floating-chatbox {
  position: fixed;
  background-color: white;
  bottom: 3vw;
  right: 3vw;
  min-width: 350px;
  aspect-ratio: 3/5;
  width: 20vw;
  border-radius: 10px;
  z-index: 9999999999;
  box-shadow: 0 0 30px 10px lightgray; 

  &:not(roboChat-hidden) {
    animation: expandFromCenter 0.1s linear
  }

  &.roboChat-hidden {
    display: none;
  }

  & > div:first-of-type {
    height: 9%;
    background-color: rgb(22, 46, 98);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    overflow: auto;
    border-radius: 10px 10px 0 0;

    & > span {
      cursor: pointer;
    }
    

    & > span {
      float: right;
    }
  }

  & > div:nth-of-type(2) {
    height: 79.5%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  & > div:last-of-type {
    height: 11.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;

    & svg {
      fill: gray;
    }

    & > div {
      display: flex;
      align-items: center;
      border-radius: 25rem;
      height: 70%;
      width: 90%;
      justify-content: space-between;


      & > span, label {
        cursor: pointer;
        width: 7%;
        display: flex;

        & > input {
          display: none;
        }
      }

      & > div {
        width: 60%;

        & > input {
          border: none;
          background-color: inherit;
          font-size: 1.25rem;
          width: 100%;
          
          &:focus {
            outline: none;
          }
        }
      }

    }
  }
}

.roboChat-hidden {
  display: none !important;
}

@keyframes roboChat-chatboxLineLoading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes expandFromCenter {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


